#event-form.modal.hide.fade(event-form, ng-controller='CreateEventController')
	//- .marker_bg.bg_info 
	.modal-header
		button.close(type='button', data-dismiss='modal')&times;
		h3 Create Event

	.modal-body
		.row-fluid
			.span7
				.row-fluid.align-top
					input.span10(type='text', placeHolder='Event Name', value='', ng-model='eventDetail.name')
					.btn-group.span2.pull-right
						button.btn.dropdown-toggle.event-type-selection-toggle.icon-info(data-toggle='dropdown')
							span.caret
						ul.dropdown-menu.event-type-selection
							li: a(ng-click='setEventType("info")')
								span.icon-option.icon-info
								span Info session
							li: a(ng-click='setEventType("game")')
								span.icon-option.icon-game
								span Entertainment
							li: a(ng-click='setEventType("workshop")')
								span.icon-option.icon-workshop
								span Workshop
							li: a(ng-click='setEventType("social")')
								span.icon-option.icon-social
								span Social
							li: a(ng-click='setEventType("food")')
								span.icon-option.icon-food
								span Refreshment

				.date-display(date-picker, ng-model='eventDetail.start')
					.datetimepicker.input-append
						input.hidden(data-format='yyyy-MM-dd HH:mm:ss PP', type='text')
						span.add-on
							i(data-time-icon='icon-time', data-date-icon='icon-calendar')
					.date.ib
						.label.label-success.ib
							span From
						.val.ib
							span {{eventDetail.start}}

				.date-display(date-picker, ng-model='eventDetail.end')
					.datetimepicker.input-append
						input.hidden(ng-model='eventDetail.end', data-format="yyyy-MM-dd HH:mm:ss PP", type="text")
						span.add-on
							i(data-time-icon="icon-time", data-date-icon="icon-calendar")
					.date.ib
						.label.label-success.ib
							span To
						.val.ib
							span {{eventDetail.end}}

				textarea.span12(rows='5', placeHolder='Description', ng-model='eventDetail.desc')
				span.misc-desc {{remaining()}}

				input.span12(tag-search type='text', placeHolder='Tags', value='')
				.selected-tags
				.candidate-tags
					span.label(ng-repeat='tag in getMatchedTags()') {{tag.tag_name}}

			.span5
				.desc
					p Don't forget to pick a custom icon for your event which will be shown on the pin!
					p Created events will be saved to your event calender, from where you can select and pin 
						| events to the map.

		

	.modal-footer
		p.pull-left.text-error {{errorMsg}}
		button.btn.btn-secondary(data-dismiss='modal', ng-click='resetState()') Cancel
		button.btn.btn-primary(ng-click='createEvent()') Save Event

