#event-form-bubble.modal.hide.fade(bubble-form, ng-controller='CreateEventController')
	//- .marker_bg.bg_info 
	.modal-header
		button.close(type='button', data-dismiss='modal')&times;
		h3 Create Event

	.modal-body
		.row-fluid
			.span7
				.input-append
					input(type='text', placeHolder='Event Name', value='', ng-model='eventDetail.name')
					.btn-group
						button.btn.dropdown-toggle(data-toggle='dropdown') Action&nbsp;
							span.caret
						ul.dropdown-menu
							li
								a omg

				textarea.span12(rows='5', placeHolder='Description', ng-model='eventDetail.desc')
				span.misc-desc {{remaining()}}
				input.span12(type='text', placeHolder='Tags', value='')

			.span5
				.desc
					p This is where you creat events!
					p Created events will be saved to your event calender, from where you can select events and pin them 
						| to the map for everyone to see!
					p Please enter brief description of what the event is about, if the space doesn't fit you can put a
						| link to your original event page.

		

	.modal-footer
		button.btn.btn-secondary(data-dismiss='modal') Cancel
		button.btn.btn-primary(ng-click='createEvent()') Save Event

