extends layout

block script
	script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
	script(src='/js/map.js')

block content
	.navbar.navbar-inverse(ng-controller='NavBarController')
		.navbar-inner(navbar)
			ul.nav.pull-left
				li
					a.sign-up Sign Up
				li
					a.log-in Log In

			.btn-group.pull-left
				button.btn.btn-primary.create-event Create Event
				button.btn.btn-primary.dropdown-toggle(data-toggle='dropdown', href='#')
					span.caret
				ul.dropdown-menu
					li 
						a.create-event Create Event
					li 
						a.edit-event Edit My Events

			form.navbar-form.pull-right
				input.span9(tag-search, ng-model='matchString', type='text', placeHolder='Search for Tags')

	//- .container
		//- .left_sidepanel(ng-controller='TagListController')
		//- 	ul.filter_list
		//- 		li.filter(ng-repeat='tag in tags') {{tag.tag_name}}
		//- 	.create_event Creat Event
	#map_canvas(ng-controller='MapController')

	include partials/login-form
	include partials/signup-form
	include partials/event-form


	