doctype 5
html(ng-app='compuzz')
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')
		script(src='/js/lib/jquery-1.8.3.min.js')
		script(src='/js/lib/bootstrap.min.js')
		script(src='/js/lib/bootstrap-tooltip.js')
		script(src='/js/lib/bootstrap-popover.js')
		script(src='/js/lib/bootstrap-datetimepicker.min.js')
		script(src='/js/lib/angular.min.js')
		script(src='/js/lib/angular-resource.min.js')
		script(src='/js/app.js')
		script(src='/js/controllers.js')
		script(src='/js/services.js')
		script(src='/js/directives.js')

	body
		block content
		block script

