#event-form-bubble .input-append {
  width: 100%;
}
#event-form-bubble .input-append input {
  width: 75%;
}
#event-form-bubble .input-append .btn-group {
  width: 20%;
}
#event-form-bubble .input-append .dropdown-toggle {
  width: 100%;
}
#event-form-bubble textarea {
  min-width: 100%;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
}
.misc-desc {
  font-size: 0.9em;
  color: #7c7c7c;
  display: block;
}
#map_canvas {
  height: 700px;
  display: inline-block;
  width: 100%;
}
.marker_bg.bg_info {
  background-image: url("../img/info_bg.png");
}
.marker_bg.bg_game {
  background-image: url("../img/game_bg.png");
}
.marker_bg.bg_social {
  background-image: url("../img/social_bg.png");
}
.marker_bg.bg_food {
  background-image: url("../img/food_bg.png");
}
.marker_bg.bg_workshop {
  background-image: url("../img/workshop_bg.png");
}
