body {
  background-color: #000 !important;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.navbar-inner {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
input.error {
  border-color: #e60000 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #d59392 !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #d59392 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #d59392 !important;
}
input + .misc-desc {
  margin-top: -8px;
  margin-bottom: 10px;
}
#event-form-bubble .event-type-selection-toggle {
  margin: 0;
  padding-left: 32px;
  background-position: 2px 1px;
  width: 100%;
  height: 100%;
}
#event-form-bubble .dropdown-menu a span {
  vertical-align: middle;
}
#event-form-bubble .icon-option {
  background-position: 0 0;
  width: 30px;
  height: 30px;
  margin-left: -5px;
  margin-right: 10px;
}
#event-form-bubble .icon-info {
  background-repeat: no-repeat;
  background-image: url("../img/info_icon.png");
}
#event-form-bubble .icon-game {
  background-repeat: no-repeat;
  background-image: url("../img/game_icon.png");
}
#event-form-bubble .icon-social {
  background-repeat: no-repeat;
  background-image: url("../img/social_icon.png");
}
#event-form-bubble .icon-food {
  background-repeat: no-repeat;
  background-image: url("../img/food_icon.png");
}
#event-form-bubble .icon-workshop {
  background-repeat: no-repeat;
  background-image: url("../img/workshop_icon.png");
}
#event-form-bubble textarea {
  min-width: 100%;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
}
#event-form-bubble .desc {
  color: #666;
  border-left: 1px solid #c2c2c2;
  padding: 10px 0 10px 20px;
  margin-left: 10px;
  margin-top: 20px;
}
#event-form-bubble .desc p + p {
  margin-top: 30px;
}
.misc-desc {
  margin-bottom: 20px;
  font-size: 0.9em;
  color: #7c7c7c;
  display: block;
}
#map_canvas {
  height: 700px;
  display: inline-block;
  width: 100%;
}
.marker_bg.bg_info {
  background-image: url("../img/info_bg.png");
}
.marker_bg.bg_game {
  background-image: url("../img/game_bg.png");
}
.marker_bg.bg_social {
  background-image: url("../img/social_bg.png");
}
.marker_bg.bg_food {
  background-image: url("../img/food_bg.png");
}
.marker_bg.bg_workshop {
  background-image: url("../img/workshop_bg.png");
}
